* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: #333333;
    text-decoration: none;
    font-size: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    background-color: white;
    min-height: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: auto;
    border-bottom: 1px solid #f2f2f2;
}

nav .container-logo {
    display: flex;
    align-items: center;
}

nav .container-logo span {
    padding-left: 10px;
}

nav .container-logo img {
    width: 25px;
    height: 25px;
}

nav ul.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    list-style: none;
}

nav ul.menu-items li a {
    margin-left: 15px;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 22px;
}

nav ul.menu-items li a:hover {
    border-color: #a8efae;
}

header .container-menu {
    display: none;
}

header .container-menu-flotante {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.959);
    opacity: 0.7;
    z-index: 5;
}   

header .container-menu-flotante ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

header .container-menu-flotante ul li a {
    display: block;
    width: 100%;
    height: 30px;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    margin-bottom: 30px;
}

header .container-menu-flotante ul li a:hover {
    color: #a8efae;
    border-bottom: 1px solid #a8efae;
}

header .container-menu-flotante-icon-salir {
    display: flex;
    justify-content: flex-end;
}

header .container-menu-flotante-icon-salir img {
    width: 35px;
    height: 35px;
}

header .container-menu-oculto {
    display: none !important;
}

@media (max-width: 660px){
    header nav ul.menu-items {
        display: none;
    }

    header .container-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    header .container-menu img {
        width: 25px;
        height: 25px;
    }
}


/* video banner */
.video-banner {
    position: relative;
    width: 100%; 
    min-height: 480px; 
  }
  
.video-banner video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
}

.video-banner .video-banner-opacity {
    position: absolute;
    top: 0;
    bottom:  0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
    z-index: -1;
}

.video-banner .video-banner-text {
    position: absolute;
    width: 100%;
    top: 40%;
    padding: 0 100px;
}

.video-banner h1 {
    width: 100%;
    color: white;
    font-size: 26px;
    top: 20%;
    text-transform: uppercase;
    text-align: center;
} 

.video-banner-text p {
    width: 100%;
    color: #ffae0f;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 660px){
    .video-banner video {
        /* object-fit: none; */
        top: -13%;
    }

    .video-banner .video-banner-text {
        top: 20%;
        padding: 0 30px;
    }


    .video-banner .video-banner-opacity {
        top: 0px;
        bottom: 62px;
    }
}
  
/* que-hacemos */
.que-hacemos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 100px;
}

.que-hacemos .que-hacemos-text {
    width: 50%;
}

.que-hacemos .que-hacemos-text h1 {
    text-align: center;
    width: 300px;
    color: #333333;
    font-size: 36px;
    /* font-family: 'Instrument Serif', serif; */
    margin-bottom: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.que-hacemos .que-hacemos-text p {
    color: #808080;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: justify;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    line-height: 25px;
}

.que-hacemos .que-hacemos-text button {
    display: block;
    width: 140px;
    background-color: #a8efae;
    border: 1px solid #9ce3a2;
    border-radius: 24px;
    padding: 12px 24px;
    color: black;
    font-weight: bold;
}

.que-hacemos .que-hacemos-text button a:hover {
    color: white;
}

.que-hacemos .que-hacemos-image {
    width: 50%;
    padding-right: 100px;
    padding-left: 40px;
}

.que-hacemos .que-hacemos-image img {
    width: 100%;
}

@media (max-width: 775px){
    .que-hacemos {
        padding: 40px 100px;
        flex-direction: column;
    }

    .que-hacemos .que-hacemos-text {
        width: 100%;
        margin-bottom: 60px;
    }

    .que-hacemos .que-hacemos-text h1 {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .que-hacemos .que-hacemos-text button {
        margin-left: auto;
        margin-right: auto;
    }

    .que-hacemos .que-hacemos-image {
        width: 100%;
    }
}

@media (max-width: 660px){
    .que-hacemos {
        padding-top: 0;
        padding: 0 30px 30px 30px;

    }

    .que-hacemos .que-hacemos-text h1 {
        width: 250px;
    }
}


/* cards */
.cards {
    width: 100%;
    min-height: 100vh;
    padding: 40px 100px;
}

.cards > h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 30px;
}

.cards > p {
    color: #808080;
    text-align: justify;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 40px;
}

.cards .cards-hijos {
    display: flex;
    flex-direction: column;
}

.cards .cards-hijos .cards-hijos-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.cards .cards-hijos .cards-hijos-section .cards-hijos_item {
    width: 48%;
    border-radius: 28px;
    padding: 60px 30px;
}

.cards .cards-hijos .cards-hijos-section .cards-hijos_item:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,.25);
}

.cards .cards-hijos .cards-hijos_item span {
    display: inline-block;
    width: 100%;
    height: 70px;
    background-image: url('./img/paz.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.cards .cards-hijos .cards-hijos_item .cards-hijos_item_span2 {
    background-image: url('./img/salud-mental.png');
}

.cards .cards-hijos .cards-hijos_item .cards-hijos_item_span3 {
    background-image: url('./img/equipo.png');
}

.cards .cards-hijos .cards-hijos_item .cards-hijos_item_span4 {
    background-image: url('./img/intelectual.png');
}

.cards .cards-hijos .cards-hijos_item h1 {
    color: #a8efae;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}

.cards .cards-hijos .cards-hijos_item p {
    color: #808080;
    width: 300px;
    height: 80px;
    margin: 0 auto;
    font-size: 14px;
    font-family: sans-serif;
    text-align: center;
    line-height: 22px;
}

@media (max-width: 990px){
    .cards .cards-hijos .cards-hijos-section {
        flex-direction: column;
    }

    .cards .cards-hijos .cards-hijos-section .cards-hijos_item {
        width: 100%;
        box-shadow: 0 2px 8px rgba(0,0,0,.25);
        margin-bottom: 20px;
    }

    .cards .cards-hijos .cards-hijos-section .cards-hijos_item p {
        width: 70%;
    }
}

@media (max-width: 660px){
    .cards {
        padding: 30px;
    }

    .cards > h1 {
        font-size: 36px;
    }

    .cards .cards-hijos .cards-hijos-section .cards-hijos_item p {
        height: auto;
    }
}

/* banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30vh;
    width: 100%;
    padding: 40px 100px;
    background-color: #a8efae;
}

.banner .banner-container-text {
    text-align: justify;
    /* padding-left: 100px; */
    width: 100%;
}

.banner .banner-container-text h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 16px;
}

.banner .banner-container-text p {
    color: #808080;
    font-size: 14px;
    line-height: 24px;
}

.banner .banner-container-button {
    display: flex;
    justify-content: center;
    /* padding-right: 100px; */
}

.banner .banner-container-button button {
    width: 150px;
    border: 1px solid transparent;
    border-radius: 16px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #ffffff;
    color: rgb(36, 76, 38);
}

.banner .banner-container-button button:hover {
    border: 1px solid #f39834;
    background-color: #ffa440;
    color: #f2f2f2;
}


@media (max-width: 1010px) {
    .banner {
        flex-direction: column;
        justify-content: space-around;
    }

    .banner .banner-container-text {
        text-align: center;
        width: 100%;
        padding-bottom: 20px;
    }
}

@media (max-width: 660px){
    .banner {
        padding: 20px 30px;
    }
}

@media (max-width: 390px){
    .banner {
        padding: 20px 0; 
    }

    .banner .banner-container-text {
        padding-bottom: 4px;
    }
}


/* conocenos */
.conocenos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 40px 100px;
}

.conocenos .conocenos-text {
    width: 70%;
    order: 2;
}

.conocenos .conocenos-text h1 {
    display: block;
    text-align: center;
    width: 300px;
    color: #333333;
    font-size: 36px;
    font-family: sans-serif;
    margin-bottom: 36px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.conocenos .conocenos-text p {
    color: #808080;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 10px;
    text-align: justify;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    line-height: 25px;
}

.conocenos .conocenos-text button {
    display: block;
    width: 130px;
    background-color: #a8efae;
    border: 1px solid #9ce3a2;
    border-radius: 24px;
    padding: 12px 24px;
    color: black;
    font-weight: bold;
}

.conocenos .conocenos-text button a:hover {
    color: #f2f2f2;
}

.conocenos .conocenos-image {
    order: 1;
    width: 100%;
    padding-right: 40px;
}

.conocenos .conocenos-image img {
    width: 100%;
    object-fit: contain;
    border-radius: 8px;
}

@media (max-width: 775px){
    .conocenos {
        flex-direction: column;
    }

    .conocenos .conocenos-text {
        width: 100%;
        padding-top: 20px;
        margin-bottom: 60px;
    }

    .conocenos .conocenos-text h1 {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .conocenos .conocenos-text button {
        margin-left: auto;
        margin-right: auto;
    }

    .conocenos .conocenos-image {
        width: 100%;
        padding-right: 0;
    }
}

@media (max-width: 660px){
    .conocenos {
        padding: 30px;
    }

    .conocenos .conocenos-text {
        order: 1;
        margin-bottom: 20px;
    }

    .conocenos .conocenos-text h1 {
        width: 250px;
    }

    .conocenos .conocenos-image {
        order: 2;
    }
}


/* proyectos */
.proyectos-container {
    width: 100%;
    min-height: 100vh;
    padding: 40px 100px;
}

.proyectos-container h1 {
    color: #333333;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.proyectos-container p {
    color: #808080;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 50px;
    text-align: justify;
}

.proyectos-container .proyectos-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.proyectos-container .proyectos-cards .proyectos-cards_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-radius: 60%;
}

.proyectos-container .proyectos-cards .proyectos-cards_item img {
    height: 200px;
    width: 200px;
    border-radius: 60%;
    object-fit: cover;
}

.proyectos-container .proyectos-cards .proyectos-cards_item h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    color: #333333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
}

.proyectos-container .proyectos-cards .proyectos-cards_item p {
    color: #808080;
    width: 70%;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 30px;
}

@media (max-width: 960px){
    .proyectos-container .proyectos-cards {
        flex-direction: column;
    }

    .proyectos-container .proyectos-cards .proyectos-cards_item {
        width: 100%;
        margin-bottom: 40px;
    }

    .proyectos-container .proyectos-cards .proyectos-cards_item p {
        width: 100%;
    }

    .proyectos-container .proyectos-cards .proyectos-cards_item img {
        height: 400px;
        width: 400px;
    }
}

@media (max-width: 660px){
    .proyectos-container {
        padding: 30px;
    }

    .proyectos-container .proyectos-cards .proyectos-cards_item img {
        height: 200px;
        width: 200px;
    }
}


/* banner */
.banner-dos {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: #a8efae;
    padding: 40px 100px;
}


.banner-dos-container {
    border-bottom: 1px solid black;
}

.banner-dos-container h1 {
    color: #333333;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.banner-dos-container h3 {
    color: #333333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.banner-dos-container > p {
    color: #808080;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    line-height: 25px;
}

.banner-dos-container .banner-dos-container-image {
    width: 125px;
    height: 125px;
    background-image: url('https://www.fundacionsantodomingo.org/wp-content/uploads/2020/04/testimonio-luis-carlos-garcia2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.banner-dos-container .banner-dos-container-descripcion h3 {
    color: #333333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.banner-dos-container .banner-dos-container-descripcion p {
    color: #808080;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    line-height: 25px;
}

.banner-dos .banner-dos-container-redes p {
    color: #333333;
    width: 100%;
    font-size: 48px;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.banner-dos .banner-dos-container-redes .redes {
    display: flex;
    justify-content: center;
}

.banner-dos .banner-dos-container-redes .redes span {
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-dos .banner-dos-container-redes .redes span.wp {
    background-image: url('./img/whatsapp.png');
    margin-right: 10px;
}

.banner-dos .banner-dos-container-redes .redes span.twitter {
    background-image: url('./img/twitter.png');
}

.banner-dos .banner-dos-container-redes .redes span.fb {
    background-image: url('./img/facebook.png');
    margin-right: 10px;
}

@media (max-width: 660px) {
    .banner-dos {
        padding: 30px;
    } 
}

/* mensajes */
.mensajes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    padding: 40px 100px;
}

.mensajes .mensajes-container-card {
    width: 50%;
    padding: 20px;
}

.mensajes .mensajes-container-card .mensajes-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 400px;
    padding: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 36px;
    box-shadow: 0 2px 8px rgba(0,0,0,.25);
}

.mensajes .mensajes-container-card .mensajes-card:hover {
    box-shadow: 0 4px 16px rgba(0,0,0,.25)  ;
}

.mensajes .mensajes-container-card .mensajes-card span { 
    width: 80px;
    height: 80px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.mensajes .mensajes-container-card .mensajes-card span.mensaje-card-img1{ 
    background-image: url('./img/rompecabezas.png');
}

.mensajes .mensajes-container-card .mensajes-card span.mensaje-card-img2{ 
    background-image: url('./img/international-literacy-day.png');
}

.mensajes .mensajes-container-card .mensajes-card span.mensaje-card-img3{ 
    background-image: url('./img/abaco.png');
}

.mensajes .mensajes-container-card .mensajes-card span.mensaje-card-img4{ 
    background-image: url('./img/paz.png');
}

.mensajes .mensajes-container-card .mensajes-card p { 
    color: #808080;
    width: 100%;
    font-size: 14px;
    font-family: sans-serif;
    margin-bottom: 40px;
    text-align: center;
    padding-bottom: 15px;
    border-bottom: 1px solid #cccccc;
    line-height: 25px;
}

@media (max-width: 900px){
    .mensajes .mensajes-container-card {
        width: 100%;
    }
}

@media (max-width: 660px){
    .mensajes {
        padding: 10px;
    }

    .mensajes .mensajes-container-card {
        width: 100%;
    }

    .mensajes .mensajes-container-card .mensajes-card {
        height: 350px;
        padding: 10px;
    }
}

/* contacto flotante */
/* .contacto-flotante {
    position: fixed;
    top: 40%;
    left: 0;
    height: 300px;
    width: 30px;
    background-color: black;
} */


/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-height: 260px;
    background-color: #333333;
    padding: 20px 100px;
}

footer .footer-info {
    display: flex;
    flex-direction: column;    
}

footer .footer-info span {
    color: #f2f2f2;
    line-height: 25px;
    font-size: 20px;
    padding: 4px 0;
}   

footer .footer-contactos {
    display: flex;
    flex-direction: column;
}

footer .footer-contactos h1 {
    color: #f2f2f2;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

footer .footer-contactos .footer-contactos-redes {
    display: flex;
    justify-content: center;
}

footer .footer-contactos .footer-contactos-redes span {
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer .footer-contactos .footer-contactos-redes span.footer-contactos-wp {
    background-image: url('./img/whatsapp.png');
    margin-right: 8px;
}

footer .footer-contactos .footer-contactos-redes span.footer-contactos-fb{
    background-image: url('./img/facebook.png');
    margin-right: 8px;
}

footer .footer-contactos .footer-contactos-redes span.footer-contactos-twitter {
    background-image: url('./img/twitter.png');
}

@media (max-width: 660px){
    footer {
        flex-direction: column;
    }

    footer .footer-info {
        text-align: center;
    }
}